<footer class="bg-[#0d0d0d] text-white py-6 mt-auto w-full">
  <div
    class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
  >
    <p class="text-sm text-gray-300">
      &copy; {{ currentYear }} <span class="text-[#ffffff] font-semibold">ReservApp</span>. Todos los derechos reservados.
    </p>

    <div class="flex space-x-4">
      <a href="#" class="hover:text-[#4e4e4e] transition">Términos</a>
      <a href="#" class="hover:text-[#4e4e4e] transition">Privacidad</a>
      <a href="#" class="hover:text-[#4e4e4e] transition">Contacto</a>
    </div>
  </div>
</footer>
